Project_Files/DataFactory_Scripts/Copy all Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks":{"type":"string"},"SqlServer":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Copy all Pipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Fetch Table Names","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT t.name AS TableName, s.name AS SchemaName\nFROM sys.tables t\nJOIN sys.schemas s ON t.schema_id = s.schema_id\nWHERE s.name = 'SalesLT';","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"Fetch_Database","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEachTable","type":"ForEach","dependsOn":[{"activity":"Fetch Table Names","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Fetch Table Names').output.value","type":"Expression"},"activities":[{"name":"Copy Each Table","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().SchemaName, '.', item().TableName,';')","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"Fetch_Database","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CsvTables","type":"DatasetReference","parameters":{"SchemaName":"@item().SchemaName","TableName":"@item().TableName"}}]}]}},{"name":"bronze-silver","type":"DatabricksNotebook","dependsOn":[{"activity":"ForEachTable","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/bronze-to-silver"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks')]","type":"LinkedServiceReference"}},{"name":"silver-gold","type":"DatabricksNotebook","dependsOn":[{"activity":"bronze-silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/silver-to-gold"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-11-28T21:07:21Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/Fetch_Database')]","[concat(variables('factoryId'), '/datasets/CsvTables')]"]},{"name":"[concat(parameters('factoryName'), '/Fetch_Database')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SqlServer')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CsvTables')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"SchemaName":{"type":"String"},"TableName":{"type":"String"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@concat(dataset().TableName,'.csv')","type":"Expression"},"folderPath":{"value":"@concat(dataset().SchemaName, '/' , dataset().TableName)","type":"Expression"},"fileSystem":"bronze-layer"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}