Project_Files/Synapse_Scripts/Create View Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"data-pipeline-sa"},"serverlessSQLdb":{"type":"string"},"data-pipeline-sa-WorkspaceDefaultStorage":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Create View Pipeline')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get table names","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"Binary1","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"ForEachTable","type":"ForEach","dependsOn":[{"activity":"Get table names","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get table names').output.childItems","type":"Expression"},"activities":[{"name":"Create View Stored Procedure","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[CreateSqlServerlessViewGold]","storedProcedureParameters":{"view_name":{"value":{"value":"@item().name","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('serverlessSQLdb')]","type":"LinkedServiceReference"}}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-11-21T17:57:34Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/Binary1')]"]},{"name":"[concat(parameters('workspaceName'), '/Binary1')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('data-pipeline-sa-WorkspaceDefaultStorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"SalesLT","fileSystem":"gold-layer"}}},"dependsOn":[]}]}